body {
    background-color: rgb(241, 155, 198);
    padding: 10px;

}

nav {
    padding:10px;
    text-align: center;
}

nav, footer{
    color: white;
}

a:hover{
    background-color: white;
    color: steelblue;
}

#active {
    background-color: white;
    color: steelb blue;
}

a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}

h1 {
    color: steelblue;
    text-align: center;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border:4px solid steelblue;
}

p {
    padding: 10px;
    width:80%;
}

p.center {

    text-align: center;

}
main p {
    width: 80%;
    margin:50px auto;
    text-align: center;
}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
   
}

footer p {
    display:block;
    font-size: 20px;
    margin: 20px auto;
}

footer {

    color: black;
    text-align: center;
}