body {
    background-color: rgb(241, 155, 198);
    padding: 10px;

}

nav {
    padding:10px;
    text-align: center;
}

nav, footer{
    color: black;
}

a:hover{
    color: black;
    
}

#active {
    background-color: white;

}

a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}

.center {
    margin:0 auto;
    max-width: 200px;
}

img {
    display: block;
    width: 20%;
    margin: 0 auto;
   
}

p {
    padding: 10px;
    width:80%;
    color:white;
}

p.center {
    max-width: 200px;
    color: white;
    font-size: 1.5em;
    

}
main p {
    width: 80%;
    margin:50px auto;
    text-align: center;
}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
   
}

footer p {

    font-size: 5px,bold;
    margin: 20px auto;
    color: black;
    text-align: center;
}