/******************************************************************************
START grid layout extra credit
******************************************************************************/

* {
  box-sizing: border-box;

}
.grid1 {
  display:grid;
  grid-template-columns: repeat(12,1fr);
  padding-top: 2em;
  padding-bottom: 2em;
}
.grid1 h1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.grid2 {
  grid-column: 2/7;
  grid-row:2/3;
  grid-template-columns: repeat(12,1fr);
  padding:2em;
}
.grid2 h2 {
  background-color: aquamarine;
}
.grid3 {
  grid-column: 8/11;
  grid-template-columns: repeat(12,1fr);
  padding:2em;
}

.grid3 h3 {
  
  background-color:aqua
  
}

.grid4 {
  grid-column: 4/11;
  grid-row: 3/4;
  grid-template-columns: repeat(12,1fr);
  padding:2em;
}

.grid4 h2 {
  background-color:rgb(182, 151, 211)
}

section {
  grid-column: 2/9;
  grid-row: 4/9;
  grid-template-columns: repeat(12,1fr);
}

section h2 {
  background-color: aliceblue;
}

form {
  grid-column: 2/7;
  background-color: blanchedalmond;
  
}

legend {
  font-size: 20px;
  font-weight: 700;
}

fieldset > div {
  display:grid;
  grid-template-columns:  1fr,5fr;
}

label {
  grid-column: 1/2;
  text-align: right;
}

input {
  grid-column: 2/3;
  text-align: left;
  width:100%;

}

button {
  width:100%;
  background-color: rgba(0, 0, 0, 0.315);
}

section > div {
 display:grid;
 grid-template-columns: 1fr,2fr;
}